{% extends "skeleton.html" %}
{% block title %}tagger{% endblock %}
{% block content %}
        <form action="/add_item" method="POST" enctype=multipart/form-data>
            <table>
                <tr>
                    <td><label for="itemName">name:</label></td>
                    <td><input type="text" id="itemName" name="itemName" size="80" required><br></td>
                </tr>
                <tr>
                    <td><label for="bookmarkUrl">url:</label></td>
                    <td><input type="text" id="bookmarkUrl" name="bookmarkUrl" size="80"><br></td>
                </tr>
                <tr>
                    <td><label for="itemTags">tags(comma separated):</label></td>
                    <td><input type="text" id="itemTags" name="itemTags" size="80"><br></td>
                </tr>
                <tr>
                    <td><label for="incFile">select file:</label></td>
                    <td><input type="file" id="incFile" name="incFile" size="80"><br></td>
                </tr>
                <tr>
                    <td>

                    <input type="radio" id="radio_bookmark" name="itemType" value="bookmark" checked>
                    <label for="radio_bookmark">Add bookmark</labe>
                    <input type="radio" id="radio_file" name="itemType" value="file">
                    <label for="radio_file">Add file</labe>
                    </td>

                </tr>
                <tr>
                    <td>
                    <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        <form action="/note" method="GET">
            <button type="submit" class="">new note</button>
        </form>
        <form action="/" method="GET">
            <button type="submit" class="">main</button>
        </form>
        <br><br>

        <div class="frame_div">
        <form action="/" method="GET">
            <label for="filter_input">Filter tags</label>
            <input type="text" id="filter_input" name="filter_input">
            <input type="checkbox" id="checkbox_tables_bookmarks" name="b">
            <label for="checkbox_tables_bookmarks">bookmarks</label>

            <input type="checkbox" id="checkbox_tables_files" name="f">
            <label for="checkbox_tables_files">files</label>

            <input type="checkbox" id="checkbox_tables_notes" name="n">
            <label for="checkbox_tables_notes">notes</label>
            <br>

            <input type="radio" id="radio_tag_all" name="tag" value=":all" checked>
            <label for="radio_tag_all">all</label> 
            <input type="radio" id="radio_tag_tagless" name="tag" value=":tagless">
            <label for="radio_tag_tagless">tagless</label>
            <button type="submit" class="">filter</button>
        </form>
        </div>

        {% if tables %}{% for table in tables %}
        {% if table %}
        <caption>{{ table['name'] }}</caption>
            <table class="notes_table">
                {% for header in table['columns'] %}
                    <th>{{ header }}</th>
                {% endfor %}
                <th> tags </th>
                <th> action </th>
                {% for item in table["items"] %}
                    <tr>
                        <td> #{{ item["id"] }} </td>
                        <td> {{ item["name"] }} </td>
                        {% if table["name"] == "files" %}
                            <td> <a href="{{ item["filepath"] }}" target='_blank'>{{ item["filepath"] }}</a> </td>
                        {% elif table["name"] == "bookmarks" %}
                            <td> <a href="{{ item["url"] }}" target='_blank'>{{ item['url'] }}</a> </td>
                        {% elif table["name"] == "notes" %}
                            <td> <a href="/note?{{ table["type"] }}={{ item["id"] }}" target='_blank'>{{ item['content'][0:50] }}...</a> </td>
                        {% endif %}
                        <td> {% for itemTag in item['tags'] %} 
                            <a href="/?tag={{ itemTag }}">#{{ itemTag }}</a>
                             {% endfor %}
                        </td>
                        <td>
                            <form action="/delete_item" method="POST">
                                <input type="hidden" id="hidden_input" name="{{ table["type"] }}" value="{{ item["id"] }}">
                                <button type="submit" class="row_button" >D</button>
                            </form>
                            {% if table["name"] == "notes" %}
                                <form action="/note" method="GET" target="_blank">
                                    <input type="hidden" name="{{ table["type"] }}" value="{{ item["id"] }}">
                                    <button type="submit" class="row_button">E</button>
                                </form>
                            {% else %}
                                <form action="/edit_item" method="GET" target="_blank">
                                    <input type="hidden" name="{{ table["type"] }}" value="{{ item["id"] }}">
                                    <button type="submit" class="row_button">E</button>
                                </form>
                            {% endif %}
                       </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% endfor %}{% endif %}

        <div class="frame_div">
            {% if tagsCounted %}
            {% for tag in tagsCounted %}
            <a href="/?tag={{ tag['tag'] }}">#{{ tag['tag'] }}({{ tag['count'] }})</a>
            {% endfor %}
            {% endif %}
        </div>

{% endblock %}
		
